// colors:

$white_blue: #eaf2f5;
$white_blue_hover: #c2dfe9;
$blue_btn: #38bff2;
$blue_btn_hover: #84d4f1;
$hr: #e7e7e7;
$kok: #2c3192;
$edit: rgb(243, 243, 34);
$edithover: yellow;
// Pikselli qiymatlar:
